body {
	font-family: sans-serif;
	/* added line height after the fact. It gets inherited and gives text space */
	line-height: 1.4;
}

.article {
	border: 5px solid #000;
}

.main-header {
	background-color: #f7f7f7;
	text-align: center;
	text-transform: uppercase;
}

.price {
	font-size: 20px;
	font-weight: bold;
}

.shipping {
	color: #777;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

.more-info:link,
.more-info:visited {
	color: #000;
}

.more-info:hover,
.more-info:active {
	text-decoration: none;
	cursor: pointer;
}

.product-details {
	text-transform: uppercase;
	font-size: 16px;
}

.detail-list {
	list-style: square;
}

.btn {
	font-size: 20px;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	border: none;
}

.btn:hover {
	background-color: #fff;
	color: #000;
	border: none;
	cursor: pointer;
}
