/* CHALLENGE TWO */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	/* added line height after the fact. It gets inherited and gives text space */
	line-height: 1.4;
}

.article {
	width: 825px;
	/* NEW */
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	border: 5px solid #000;
}
.main-header {
	background-color: #f7f7f7;
	text-align: center;
	text-transform: uppercase;
	/* NEW */
	padding: 20px;
	position: relative;
}

.main-header::before {
	content: "SALE";
	font-size: 16px;
	font-weight: 700;
	color: white;
	background-color: #ff0101;
	padding: 10px 20px;
	position: absolute;
	top: -20px;
	left: -40px;
	letter-spacing: 5px;
}

.price {
	font-size: 20px;
	font-weight: bold;
}

.shipping {
	color: #777;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	/* NEW */
	margin-bottom: 20px;
}

.more-info:link,
.more-info:visited {
	color: #000;
}

.more-info:hover,
.more-info:active {
	text-decoration: none;
	cursor: pointer;
}

.product-details {
	text-transform: uppercase;
	font-size: 16px;
	/* NEW */
	margin-top: 25px;
	margin-bottom: 15px;
}

.detail-list {
	list-style: square;
	/* NEW */
	margin-bottom: 10px;
}
/* NEW */
li {
	margin-left: 20px;
	margin-bottom: 10px;
}
/* NEW */
li:last-child {
	margin-bottom: 0;
}
.btn {
	/* NEW */
	width: 100%;
	padding: 20px;
	font-size: 20px;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	border: none;
}

.btn:hover {
	background-color: #fff;
	color: #000;
	border: none;
	cursor: pointer;
	/* NEW */
	border-top: 5px solid #000;
}

.clr-cont {
	margin-top: 20px;
}

.clr-box {
	width: 25px;
	height: 25px;
	display: inline-block;
	margin-right: 10px;
}

.clr-black {
	background-color: #000;
}

.clr-blue {
	background-color: #002fff;
}

.clr-red {
	background-color: #ff0101;
}

.clr-yellow {
	background-color: #ffee00;
}

.clr-green {
	background-color: #00ff22;
}

.clr-brown {
	background-color: #412b0c;
}
